extends layout
block content
  #page-wrapper
      .row
        .col-sm-12
          h1.page-header #{rep.f_name} #{rep.l_name}
          .col-sm-3
            img.img-responsive(src='https://scontent-a-ord.xx.fbcdn.net/hphotos-frc3/t1.0-9/1982185_10202749676275941_1538783811_n.jpg')
          .col-sm-6
            table.table
              tr
                td Gender: #{rep.gender}
              tr
                td Birth Date: #{rep.birth_date}
              tr
                td Religion: #{rep.religion}
              tr
                td Party: #{rep.party}
          .col-sm-3
            | Statistics?
      .row
        .col-lg-12




